

/* Updated on 2011-04-29 15:46:52 +0530*/

:link, *:visited {
    color: #A7D126;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, pre, code {
    font-size: 1.1em;
}
a img, *:link img, *:visited img {
    border-style: none;
}
a:hover {
    text-decoration: underline;
}
body {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #1F1900;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #463D2C;
    font-family: Arial,sans-serif;
    font-size: 10pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.red {
    color: #B72638;
}
.blue {
    color: #3099DE;
}
.orange {
    color: #D7690B;
}
.green {
    color: #619C07;
}
.clear {
    clear: both;
}