

/* Updated on 2011-04-29 16:58:03 +0530*/

#page{
	width: 100%;
}
#body_content{
  float: left;
  width: 58%;
  color: #333;
  padding-right: 20px;
  padding-bottom: 60px;
}
#side_body_content {
  float: left;
  width: 37%;
  color: #333;
  padding-left: 20px;
}
.bold, .bold:hover{
	font-weight: bold !important;
}