#banner {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/sp_banner_outer_grad.gif");
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 1px;
    color: #FFFFFF;
    position: relative;
}
.banner-grtop {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/sp_banner_grunge.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.banner-grbottom {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/sp_banner_grunge.png");
    background-position: 100% 100%;
    background-repeat: repeat-x;
    height: 30px;
    left: 0;
    position: absolute;
    top: 16em;
    width: 100%;
}
#banner-content {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/sp_banner_inner_grad.gif");
    background-position: 0 0;
    background-repeat: repeat;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #3A2B17;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #3A2B17;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    height: 18em;
    max-height: 310px;
    min-height: 288px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
#banner-content .banner-slider-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 200000px;
}
#banner-content .banner-slider-wrapper .banner-project {
    clear: both;
    float: left;
    width: 57.7em;
}
#banner-content .banner-content-wrapper {
    height: 18em;
    max-height: 310px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#banner-content .catchline {
    float: right;
    font-size: 300%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    text-align: right;
    width: 70%;
}
#banner-content .message {
    float: right;
    font-size: 170%;
    font-style: italic;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 62px;
    width: 37%;
}
#banner-content .banner1 {
    font-size: 250%;
    width: 30%;
}
#banner-content .postit-banner {
    width: 50%;
}
#banner-content .photo-frame {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/sp_photo_frame.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 225px;
    margin-bottom: 0;
    margin-left: 90px;
    margin-right: 0;
    margin-top: 40px;
    position: relative;
    width: 225px;
}
#banner-content .postit-note {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/sp_postit.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 268px;
}
#banner-content .postit-note .postit-content {
    color: #510000;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 40px;
}
#banner-content .postit-note .postit-content span.whyjoinus {
    clear: both;
    color: #0A0A0A;
    float: left;
    font-family: "Comic Sans MS",Georgia,Times,serif;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
}
#banner-content .postit-note .postit-content span.comic {
    font-family: "Brush Script MT","Comic Sans MS",Georgia,Times,serif;
    font-size: 28px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 0;
}
#banner-content .postit-note .postit-content span.title {
    font-family: "Comic Sans MS",Georgia,Times,serif;
    font-size: 35px;
}
#banner-content #picture-box {
    border-bottom-color: #EEE7DD;
    border-bottom-style: solid;
    border-bottom-width: 12px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #EEE7DD;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 12px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #EEE7DD;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 12px;
    border-top-color: #EEE7DD;
    border-top-style: solid;
    border-top-width: 12px;
    float: left;
    height: 175px;
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 45px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 53%;
}
.job h2 a.learn-more-right, a.learn-more-right {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-attachment: scroll;
    background-color: #D4CEB4;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.job h2 a.learn-more-right {
    margin-top: -5px;
}
#canvas a.learn-more-right:hover {
    color: #FFFFFF;
}
.job h2 {
    cursor: pointer;
}
h2.job-title:hover {
    color: #B72638;
}
