<% @page.sidebars.live.each do |s| %>
	<% unless s.translation.id.nil? %>
		<div class="secondaryContentTop"></div>
		<div class="secondaryContent">
			<div class="home-box">
				<h1><%= s.title %></h1>
					<%= raw s[:body] %>
			</div>
		</div>
		<div class="secondaryContentBottom"></div>
	<%end%>
<% end %>